

<div class="content">

  <div class="content-header">
    <mat-button-toggle-group name="toggleView" aria-label="Toggles card/table" value="grid_view">
      <mat-button-toggle value="grid_view" (click)="gridViewType(true)" matTooltip="Grid view style"><span class="material-icons">grid_view</span></mat-button-toggle>
      <mat-button-toggle value="list" (click)="gridViewType(false)" matTooltip="Table view style"><span class="material-icons">list</span></mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div *ngIf="isGridView" class="grid-view">
    <mat-grid-list cols="1" rowHeight="2:1" *ngFor="let item of items">
      <mat-card>
        <mat-card-header>
          <img mat-card-image src={{item.thumbnailUrl}} matTooltip={{item.thumbnailUrl}} alt={{item.title}} class="thumbnail">
        </mat-card-header>
        <mat-card-content>
          <mat-card-title>{{item.title}}</mat-card-title>
          <mat-card-actions>
            <a [routerLink]="['/item',item.id]" matTooltip="Get more info" class="list-group-item">
             
              +INFO
  
            </a>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </mat-grid-list>
  </div>

  <table *ngIf="!isGridView" mat-table [dataSource]="items" class="mat-elevation-z8">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let item">{{item.title}}</td>
    </ng-container>
    <ng-container matColumnDef="thumbnail">
      <th mat-header-cell *matHeaderCellDef>Thumbnail</th>
      <td mat-cell *matCellDef="let item"><img mat-card-image src={{item.thumbnailUrl}} matTooltip={{item.thumbnailUrl}} alt={{item.title}} class="thumbnail-50"></td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let item"><a [routerLink]="['/item',item.id]" matTooltip="Get more info" class="list-group-item">+INFO</a></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsDisplayed"></tr>
    <tr mat-row *matRowDef="let item; columns: columnsDisplayed;" class="animate__animated animate__fadeInLeft"></tr>
  </table>

  <div class="loader" *ngIf="!items"><mat-spinner>Loading...</mat-spinner></div>

</div>

